@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
header {
  height: 700px;
  width: 1249zpx;
  background-image: url("./assets/fheader.jpg");
  background-size: cover;

  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

.loguin {
  padding: 10px;
  width: 120px;
  border-radius: 10px;
  border: none;
  background-color: #3f51b5;
  font-size: 15px;
  color: white;
  cursor: pointer;
}
.botoesheader {
  padding: 10px;
  margin-left: 400px;
  height: 100px;
  display: flex;

  height: 40px;
}

.perfilfoto {
  width: 40px;
  margin-left: 10px;
}

.logo {
  width: 150px;
}

.cimaheader {
  display: flex;
  justify-content: space-around;
  width: 1190px;
  height: 150px;
  opacity: 1;
}
.h1pcimageader {
  margin-left: 100px;

  width: 650px;
  color: white;
  font-size: 20px;
}
.h1pconteinarcimaheader {
  margin-left: 100px;
  width: 1200px;
  background-color: white;
  height: 100px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  display: flex;
  flex-direction: row;

  color: black;
}

input[type="date"] {
  border-radius: 5px;
  outline: none;
  background-color: #3f51b5;
  padding: 5px;
  color: white;
  border: none;
  font-family: "DM Sans", sans-serif;
}
h3 {
  color: #3f51b5;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  margin-left: 45px;
  border-bottom: 3px solid #3f51b5;
}
.encimadooption {
  width: 200px;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  height: 50px;
  margin-left: 100px;
}
.paragdestino {
  width: 150px;
  margin-left: 20px;

  height: 50px;
}
.btndestino {
  width: 200px;
  height: 37px;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  background-color: #3f51b5;
  color: white;
  font-weight: 600;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}
.divbtndestino {
  height: 100px;
  cursor: pointer;
}

.aa {
  width: 400px;
}

.body1 {
  width: 1000px;
  color: black;
  margin-left: 170px;
  display: flex;
  justify-content: space-around;
}

.body1h1p {
  width: 490px;
}
.body1p {
  border-left: 3px solid #ff914d;
  padding-left: 10px;
  padding-top: 3px;

  height: 130px;
}
.body1h2p {
  margin-left: 100px;
  width: 500px;
  text-align: center;
  margin-top: 100px;
}

h2 {
  color: #3f51b5;
  font-size: 30px;
}

.china:hover {
  border-bottom: 3px solid #3f51b5;
}
.chinaa:hover {
  border-bottom: 3px solid #3f51b5;
}
.china {
  margin-right: 20px;

  font-size: 16px;
  height: 20px;
}

.body1pcidades {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;

  height: 120px;
  width: 530px;
}

.body1imgg {
  width: 300px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.589);
  margin-bottom: 10px;
}
.body1imggg {
  width: 300px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.589);
  margin-bottom: 10px;
}
.body1zoomimg {
  overflow: hidden;
  border-radius: 20px;
  margin-top: 170px;
  height: 190px;
}
.body1zoomimgg {
  overflow: hidden;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.589);
  border-radius: 20px;
  margin-top: 10px;
  height: 190px;
}
.body1imggg:hover {
  transform: scale(1.2);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.589);
  transition: 1s all;
}
.body1imgg:hover {
  transform: scale(1.2);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.589);
  transition: 1s all;
}
.body1img {
  width: 300px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.589);
  margin-left: 770px;
  position: absolute;
  bottom: -229px;
}
.body1imgs {
  margin-left: 250px;
  height: 700px;
}

.body2 {
  width: 1000px;
  color: black;
  margin-left: 170px;
}

.body2h1 {
  width: 500px;
  text-align: center;
  margin: auto;
}
.body2divh1 {
  margin-bottom: 60px;
}

.body2conteiners {
  height: 250px;
}
.body2cont {
  width: 300px;
  height: 200px;
  background-color: #e6e6e6;
  border-radius: 10px;
  margin-left: 30px;
  transition: 0.1s all;
}
.body2img {
  width: 60px;
  border-radius: 100%;

  margin-top: 10px;
}
.body2contdentro {
  width: 300px;
  height: 70px;
}
.nome {
  margin-left: 10px;
  width: 200px;
  height: 10px;
  line-height: 1px;
}
.map {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.body2cont:hover {
  transform: scale(1.1);
}
.body2destino {
  color: #838383;
}
.body2coment {
  color: #838383;
}
.aspas {
  margin-left: 10px;

  height: 7px;
}
.body2imgnome {
  display: flex;
}
.body2comentario {
  margin-left: 20px;
  margin-bottom: 40px;
  height: 50px;
}

.estrela {
  width: 100px;
  height: 2px;
}

.body3h1 {
  font-size: 40px;
}
.body3divh1 {
  width: 1000px;
  text-align: center;
}

.body3divppm {
  width: 450px;
  margin-left: 250px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;

  padding: 20px;
}
.body3ppm {
  width: 100px;
  text-align: center;

  height: 40px;
}
.body3h2 {
  font-size: 20px;
  color: #838383;
  margin-bottom: 200px;

  width: 100px;
  border-radius: 10px;
}
.body3h2:hover {
  font-size: 20px;
  color: white;
  margin-bottom: 200px;
  background-color: #3f51b5;
  width: 100px;
  border-radius: 10px;
}

.body3fotos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 500px;
}
.corpo {
  height: 326px;
  border-radius: 10px;
}

.body3fotoD {
  width: 250px;
  height: 300px;
  text-align: center;
  background-size: cover;
  border-radius: 10px;
  background-image: url("./assets/disney.jpg");
}

.body3fotoP {
  width: 250px;
  height: 300px;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  background-image: url("./assets/euna.jpg");
}

.body3fotoPa {
  width: 250px;
  text-align: center;
  height: 300px;
  background-size: cover;
  border-radius: 10px;
  background-image: url("./assets/paris.jpg");
}

.body3fotosh1 {
  color: white;
}

.body3btnpacotes1 {
  width: 200px;
  position: absolute;
  height: 37px;
  font-size: 15px;
  font-size: 20px;
  text-align: center;
  border: none;
  background-color: #3f51b5;
  color: white;
  font-weight: 600;
  cursor: pointer;
  border-radius: 8px;
  bottom: -1944px;
  margin-left: 67px;
}

.body3btnpacotes2 {
  width: 200px;
  position: absolute;
  height: 37px;
  font-size: 15px;
  font-size: 20px;
  text-align: center;
  border: none;
  background-color: #3f51b5;
  color: white;
  font-weight: 600;
  cursor: pointer;
  border-radius: 8px;
  bottom: -1944px;
  margin-left: 403px;
}

.body3btnpacotes3 {
  width: 200px;
  position: absolute;
  height: 37px;
  font-size: 15px;
  font-size: 20px;
  text-align: center;
  border: none;
  background-color: #3f51b5;
  color: white;
  font-weight: 600;
  cursor: pointer;
  border-radius: 8px;
  bottom: -1944px;
  margin-left: 736px;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 200px;
  background-color: #ff914d;
}

.footerdivcoisas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 1100px;
}

.footerdivformasdepag {
  font-size: 19px;
  height: 100px;
  width: 300px;
  text-align: center;
}

.footerimg {
  width: 250px;
}

.footerimg2 {
  width: 40px;
  padding: 5px;
}

.footerdivPtelevendas {
  line-height: 1px;
  font-size: 18px;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.589);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  background-color: #002133;
  width: 500px;
  height: 600px;
  border-radius: 10px;
}
.modalmo {
  background-color: #002133;
  width: 1100px;
  height: 200px;
  border-radius: 10px;
  position: relative;
}

.dividermo {
  display: flex;
  align-items: center;
  color: white;
  font-size: 18px;
  width: 320px;
}

.dividermo::before {
  content: "";
  flex: 1;
  border-bottom: 1px solid white;
}
.dividermo::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid white;
}

.dividermo::before {
  margin-right: 10px;
}

.dividermo::after {
  margin-left: 10px;
}
.npassageiros {
  position: absolute;
  top: 130px;
  right: 540px;
}
.tempo {
  position: absolute;
  right: 500px;
  top: 70px;
}
.modalmotudo {
  display: flex;
  justify-content: space-around;
  width: 889px;
  margin-top: 20px;
}
.modalmocheckin {
  line-height: 1px;
  width: 180px;
  height: 100px;
  font-size: 25px;
}
.modalmocheckinout {
  line-height: 1px;
  width: 180px;
  height: 100px;
  font-size: 25px;
}
.coisamodalmo {
  display: flex;
  text-align: center;
  align-items: center;

  width: 700px;
}
.linharmodalmo {
  display: flex;
  flex-direction: row;
}
.datamodal {
  font-size: 12px;
}
.btnmodal {
  border: none;
  color: white;
  background-color: #002133;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 20px;
  cursor: pointer;
}

.logomodal {
  width: 100px;

  margin-right: 210px;
}

.modalbtnlogo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modalmain {
  width: 400px;
  height: 430px;
  margin: auto;
}

.h1modal {
  font-size: 25px;
}

.modaldivh1p {
  line-height: 5px;
  text-align: center;
}

.modallogiunopions {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.modalbtnloguin {
  background-color: #002133;
  border: solid 1px white;
  width: 80px;
  border-radius: 7px;
  height: 30px;
  text-align: center;
  cursor: pointer;
}

.modalloguinfoto {
  text-align: center;
  width: 24px;
}

.divider {
  margin-top: 10px;
}
.divider {
  display: flex;
  align-items: center;
  color: white;
  font-size: 18px;
}

.divider::before {
  content: "";
  flex: 1;
  border-bottom: 1px solid white;
}
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid white;
}

.divider::before {
  margin-right: 10px;
}

.divider::after {
  margin-left: 10px;
}

form {
  line-height: 1px;
}
.divformmodal {
  margin-top: 10px;
}
.inputextmodal {
  width: 100%;
  height: 20px;
  border-radius: 3px;
  background-color: #002133;
  border: #5c727e 1px solid;
  padding: 3px;
  color: aliceblue;
}
.checkboxPdiv {
  line-height: 1px;
}
.divsenha {
  position: relative;
}
.olho {
  position: absolute;
  right: 0%;
  bottom: 1px;
  cursor: pointer;
}

.registrar {
  background-color: #ff914d;
  border: none;
  padding: 10px;
  width: 200px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  margin-left: 100px;
  margin-top: 20px;
}

.jaecasdastrado {
  font-size: 10px;
  margin-left: 130px;
  color: #8298a3;
}

.storngmodal {
  color: white;
}

.passenger-selector {
  top: -290px;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 300px;
  z-index: 1;
}
.relative {
  position: relative;
}
.passenger-selector h3 {
  margin-top: 0;
}

.class {
  height: 30px;
  width: 150px;
  border-radius: 5px;
  outline: none;
  background-color: #3f51b5;
  padding: 5px;
  color: white;
  border: none;
  overflow: hidden;
  font-family: "DM Sans", sans-serif;
}
.passenger-category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.passenger-category span {
  margin: 0 10px;
}

button {
  background: #ff5722;
  border: none;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 3px;
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.infant-warning {
  color: red;
  font-size: 12px;
  margin-top: 10px;
}

.apply-button {
  width: 100%;
  background: #ff5722;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.passageirosbotaobonito {
  border-radius: 5px;
  outline: none;
  height: 20px;
  background-color: #3f51b5;
  padding: 5px;
  color: white;
  border: none;
  font-family: "DM Sans", sans-serif;
}
.passageirosbotaobonitopassageiros {
  border-radius: 5px;
  outline: none;
  height: 30px;
  background-color: #3f51b5;
  padding: 5px;
  color: white;
  border: none;
  font-family: "DM Sans", sans-serif;
}

.total {
  width: 200px;

  height: 50px;
  margin-top: 10px;
  border-bottom: 2px solid white;
}
.btnmodalcomprar {
  height: 30px;
  width: 150px;
  border-radius: 5px;
  outline: none;
  background-color: #3f51b5;
  padding: 5px;
  color: white;
  border: none;
  overflow: hidden;
  font-family: "DM Sans", sans-serif;
}

.valor {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  align-items: center;
}

.preçodapassagem {
  margin-left: 10px;
  font-size: 20px;
}
.topomodalmelhoroferta {
  display: flex;
  align-items: center;
  position: relative;
  width: 889px;
}

.logomodalmelhoroferta {
  width: 120px;
  position: absolute;
  top: -60px;
  right: 400px;
}

.divimgmodalmlehoroferta {
  margin: auto;
  width: 100px;
  height: 50px;
}

.divmelhorofertastrong {
  width: 190px;
  font-size: 20px;
  height: 50px;
}

.tudao {
  display: flex;
  justify-content: space-around;
}

.ladodepreço {
  height: 200px;
  border-left: 2px solid white;
  text-align: center;
}

@media screen and (max-width: 744px) {
  header {
    width: 744px;
  }
  .cimaheader {
    width: 250px;
  }
  .botoesheader {
    margin-left: 380px;
  }
  .h1pcimageader {
    margin-left: 10px;
    font-size: 15px;
  }
  .encimadooption {
    width: 200px;
    font-size: 5px;
    height: 50px;
    margin-left: 10px;
  }
  .passageirosbotaobonitopassageiros {
    width: 100px;
  }
  .h1pconteinarcimaheader {
    margin-left: 10px;
    width: 710px;
    background-color: white;
    height: 190px;
    flex-wrap: wrap;
  }
  .destinoescrito {
    font-size: 25px;
  }
  .paragdestino {
    width: 120px;
  }
  .passageirosbotaobonito {
    border-radius: 5px;
    width: 100px;
    font-size: 13px;
    outline: none;
    height: 20px;
    background-color: #3f51b5;
    padding: 5px;
    color: white;
    border: none;
    font-family: "DM Sans", sans-serif;
  }
  .input[type="date"] {
    border-radius: 5px;
    outline: none;
    background-color: #3f51b5;

    color: white;
    border: none;
    font-family: "DM Sans", sans-serif;
  }
  .class {
    height: 30px;
    width: 100px;
    border-radius: 5px;
    outline: none;
    background-color: #3f51b5;
    padding: 5px;
    color: white;
    border: none;
    overflow: hidden;
    font-family: "DM Sans", sans-serif;
  }
  .btndestino {
    width: 200px;
    height: 50px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    background-color: #ff914d;
    color: white;
    font-weight: 600;

    cursor: pointer;
  }
  .divbtndestino {
    height: 100px;
    width: 80px;
    cursor: pointer;
  }

  .modal {
    background-color: #002133;
    width: 500px;
    height: 510px;
    border-radius: 10px;
  }
  .logomodal {
    width: 70px;

    margin-right: 210px;
  }
  .inputextmodal {
    width: 100%;
    height: 10px;
    border-radius: 3px;
    background-color: #002133;
    border: #5c727e 1px solid;
    padding: 3px;
    color: aliceblue;
  }
  .divformmodal {
    font-size: 13px;
  }
  .modaldivh1p {
    line-height: 5px;
    text-align: center;
    font-size: 13px;
  }
  .h1modal {
    font-size: 20px;
  }
  .body1 {
    width: 744px;
    color: black;
    margin-left: 0px;
    display: flex;
    justify-content: space-around;
  }
  .body1h1p {
    width: 490px;
  }

  .body1img {
    width: 150px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.589);
    left: -200px;
    position: absolute;
    bottom: -229px;
  }
  .body1imgs {
    margin-left: 0px;
    height: 500px;
  }
  .body1imgg {
    width: 150px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.589);
    margin-bottom: 10px;
  }
  .body1imggg {
    width: 150px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.589);
    margin-bottom: 10px;
  }
  .body1zoomimg {
    overflow: hidden;
    border-radius: 20px;
    margin-top: 70px;
    background-color: #002133;

    height: 90px;
  }
  .body1zoomimgg {
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.589);
    border-radius: 20px;
    margin-top: 10px;
    height: 90px;
  }
  .body1h2p {
    margin-left: 0px;
    width: 500px;
    text-align: center;
    margin-top: 10px;
  }
  .body2 {
    width: 744px;
    color: black;
    margin-left: 0px;
  }
  .body3divppm {
    width: 450px;
    margin-left: 160px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    padding: 20px;
  }
  .body3divh1 {
    width: 744px;
    text-align: center;
  }
  .corpo {
    height: 326px;
    font-size: 10px;
    border-radius: 10px;
  }

  .body3fotoD {
    width: 200px;
    height: 300px;
    text-align: center;
    background-size: cover;
    border-radius: 10px;
    background-image: url("./assets/disney.jpg");
  }
  .body3fotoP {
    width: 200px;
    height: 300px;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    background-image: url("./assets/euna.jpg");
  }

  .body3fotoPa {
    width: 200px;
    text-align: center;
    height: 300px;
    background-size: cover;
    border-radius: 10px;
    background-image: url("./assets/paris.jpg");
  }
  .body3fotosh1 {
    color: white;
    font-size: 20px;
  }
  .body3btnpacotes1 {
    width: 180px;
    position: absolute;
    height: 37px;
    font-size: 20px;

    text-align: center;
    border: none;
    background-color: #3f51b5;
    color: white;
    font-weight: 600;
    cursor: pointer;
    border-radius: 8px;
    bottom: -2036px;
    margin-left: 35px;
  }
  .body3btnpacotes2 {
    width: 180px;
    position: absolute;
    height: 37px;
    font-size: 20px;

    text-align: center;
    border: none;
    background-color: #3f51b5;
    color: white;
    font-weight: 600;
    cursor: pointer;
    border-radius: 8px;
    bottom: -2036px;
    margin-left: 283px;
  }
  .body3btnpacotes3 {
    width: 180px;
    position: absolute;
    height: 37px;
    font-size: 20px;

    text-align: center;
    border: none;
    background-color: #3f51b5;
    color: white;
    font-weight: 600;
    cursor: pointer;
    border-radius: 8px;
    bottom: -2036px;
    margin-left: 530px;
  }

  footer {
    width: 740px;
    display: flex;
    justify-content: center;
    height: 200px;
    background-color: #ff914d;
  }

  .footerdivcoisas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 700px;
  }

  .footerdivformasdepag {
    font-size: 19px;
    height: 100px;
    width: 300px;
    text-align: center;
  }

  .footerimg {
    width: 250px;
  }

  .footerimg2 {
    width: 40px;
    padding: 5px;
  }

  .footerdivPtelevendas {
    line-height: 10px;
    font-size: 15px;
  }

  .modalmo {
    background-color: #002133;
    width: 700px;
    height: 400px;
    border-radius: 10px;
    position: relative;
    font-size: 12px;
  }

  .dividermo {
    display: flex;
    align-items: center;
    color: white;
    font-size: 15px;
    width: 320px;
  }

  .dividermo::before {
    content: "";
    flex: 1;
    border-bottom: 1px solid white;
  }
  .dividermo::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid white;
  }

  .dividermo::before {
    margin-right: 10px;
  }

  .dividermo::after {
    margin-left: 10px;
  }
  .npassageiros {
    position: absolute;
    top: 130px;
    right: 389px;
  }
  .tempo {
    position: absolute;
    right: 350px;
    top: 70px;
  }
  .modalmotudo {
    display: flex;
    justify-content: space-around;
    width: 659px;

    margin-left: 20px;
    margin-top: 20px;
  }
  .modalmocheckin {
    line-height: 1px;
    width: 140px;
    height: 100px;
    font-size: 20px;
  }
  .modalmocheckinout {
    line-height: 1px;
    width: 100px;
    height: 100px;
    font-size: 20px;
  }
  .coisamodalmo {
    display: flex;
    text-align: center;
    align-items: center;

    width: 700px;
  }
  .linharmodalmo {
    display: flex;
    flex-direction: row;
  }
  .latam {
    width: 100px;
  }
  .divmelhorofertastrong {
    width: 190px;
    font-size: 20px;
    height: 50px;

    margin: auto;
    text-align: center;
  }
  .valor {
    display: flex;
    flex-direction: row;
    margin-left: 280px;
    align-items: center;
  }
  .total {
    width: 686px;

    height: 50px;

    margin-top: 10px;
    border-bottom: 2px solid white;
  }
  .ladodepreço {
    height: 220px;
    margin-left: 10px;
    width: 686px;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
  }

  .tudao {
    display: grid;
  }
}

@media screen and (max-width: 480px) {
  body {
    width: 460px;
    text-align: center;
  }
  header {
    width: 475px;
    height: 800px;
  }
  .cimaheader {
    width: 50px;
  }
  .botoesheader {
    margin-left: 100px;
  }
  .h1pcimageader {
    margin-left: 10px;
    font-size: 15px;

    width: 455px;
  }
  .encimadooption {
    width: 310px;
    font-size: 5px;
    height: 50px;

    margin: auto;
  }

  .h1pconteinarcimaheader {
    margin-left: 10px;
    border-top-right-radius: 0px;
    width: 310px;
    height: 320px;
    background-color: white;
    margin: auto;
    flex-wrap: wrap;
  }
  .destinoescrito {
    font-size: 25px;
    margin: auto;
  }
  .paragdestino {
    width: 120px;
  }

  .btndestino {
    width: 200px;
    height: 50px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    background-color: #ff914d;
    color: white;
    font-weight: 600;

    cursor: pointer;
  }
  .divbtndestino {
    height: 70px;
    width: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .passenger-selector {
    top: -150px;
    right: -40px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 200px;
    height: 360px;
    z-index: 1;
  }
  .modal {
    background-color: #002133;
    width: 420px;
    height: 500px;
    border-radius: 10px;
  }
  .logomodal {
    width: 70px;

    margin-right: 180px;
  }
  .olho {
    position: absolute;
    right: 0%;
    bottom: -7px;
    cursor: pointer;
  }
  .h1modal {
    font-size: 20px;
  }
  .body1 {
    width: 465px;

    color: black;
    margin-left: 0px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  .body1h1p {
    width: 465px;
  }

  .body1img {
    width: 150px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.589);
    left: -200px;
    position: absolute;
    display: none;
    bottom: -229px;
  }
  .body1imgs {
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 300px;
    margin-top: 70px;
  }
  .body1imgg {
    width: 200px;
    height: 150px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.589);
    margin-bottom: 10px;
  }
  .body1imggg {
    width: 200px;
    height: 150px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.589);
    margin-bottom: 10px;
  }
  .body1zoomimg {
    overflow: hidden;
    border-radius: 20px;
    margin-top: 0px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.589);
    width: 200px;

    height: 134px;
  }
  .body1zoomimgg {
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.589);
    border-radius: 20px;
    margin-top: 0px;

    height: 134px;
    width: 200px;
  }
  .body1h2p {
    margin-left: 0px;
    width: 460px;

    text-align: center;
    margin-top: 10px;
  }
  .body1pcidades {
    display: flex;
    height: 45px;
    width: 460px;

    margin-left: 16px;
  }
  .chinaa {
    margin-right: 0px;

    width: 100px;
    font-size: 16px;
    height: 20px;
  }
  .body2 {
    width: 460px;
    color: black;

    margin-left: 0px;
    font-size: 15px;
  }
  .body3divh1 {
    width: 430px;
    margin-left: 20px;
    text-align: center;
  }
  .body3divppm {
    width: 410px;

    margin-left: 0px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    padding: 20px;
  }
  .body3fotos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 650px;
  }
  .corpo {
    height: 500px;
    border-radius: 10px;
  }
  .body3btnpacotes1 {
    bottom: -2900px;
    right: 150px;
  }
  .body3btnpacotes2 {
    bottom: -3220px;
    right: 150px;
  }
  .body3btnpacotes3 {
    bottom: -3530px;
    right: 150px;
  }
  footer {
    width: 465px;
    display: flex;
    justify-content: center;
    height: 220px;
    background-color: #ff914d;
  }

  .footerdivcoisas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 400px;
  }

  .footerdivformasdepag {
    font-size: 19px;
    height: 100px;
    width: 110px;
    text-align: center;
  }

  .footerimg {
    width: 120px;
  }

  .footerimg2 {
    width: 40px;
    padding: 5px;
  }

  .footerdivPtelevendas {
    line-height: 10px;
    font-size: 15px;
    width: 120px;
  }
  .body3 {
    height: 1200px;
  }
  .body2h1 {
    width: 400px;
    text-align: center;
    margin: auto;
  }
  .body2cont {
    width: 300px;
    height: 200px;
    background-color: #e6e6e6;
    border-radius: 10px;
    margin-left: 100px;
    transition: 0.1s all;
  }

  .modalmo {
    background-color: #002133;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    position: relative;
    font-size: 12px;
  }

  .dividermo {
    display: flex;
    align-items: center;
    color: white;
    font-size: 15px;
    width: 2%;
  }

  .dividermo::before {
    content: "";
    flex: 1;
    border-bottom: 1px solid white;
  }
  .dividermo::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid white;
  }

  .dividermo::before {
    margin-right: 10px;
  }

  .dividermo::after {
    margin-left: 10px;
  }
  .npassageiros {
    position: absolute;
    top: 125px;
    right: 150px;
    font-size: 8px;
  }
  .tempo {
    position: absolute;
    right: 140px;
    top: 95px;
    font-size: 8px;
  }
  .modalmotudo {
    display: flex;
    justify-content: space-around;
    width: 359px;

    margin-left: 20px;
    margin-top: 20px;
  }
  .modalmocheckin {
    line-height: 1px;
    width: 140px;
    height: 100px;
    font-size: 20px;
  }
  .modalmocheckinout {
    line-height: 1px;
    width: 170px;
    height: 100px;
    font-size: 20px;
  }
  .logomodalmelhoroferta {
    width: 120px;
    position: absolute;
    top: -60px;
    right: 620px;
  }
  .coisamodalmo {
    display: flex;
    text-align: center;
    align-items: center;

    width: 410px;
  }
  .linharmodalmo {
    display: flex;
    flex-direction: row;
  }
  .latam {
    width: 100px;
  }
  .divmelhorofertastrong {
    width: 190px;
    font-size: 20px;
    height: 50px;

    margin: auto;
    text-align: center;
  }
  .valor {
    display: flex;
    flex-direction: row;
    margin-left: 280px;
    align-items: center;
  }
  .total {
    width: 386px;

    height: 50px;

    margin-top: 10px;
    border-bottom: 2px solid white;
  }
  .ladodepreço {
    height: 220px;
    margin-left: 10px;
    width: 386px;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
  }

  .tudao {
    display: grid;
  }
  .body1p {
    border-left: 3px solid #ff914d;
    padding-left: 10px;
    padding-top: 3px;

    height: 130px;
    width: 451px;
  }
}
